class IcpCli < Formula
  desc "CLI tool for Internet Computer with WebAssembly component-based extensions"
  homepage "https://github.com/rikonor/icp-cli"
  version "{{version}}"
  license "MIT"

  on_macos do
    on_arm do
      url "{{arm_binary.url}}"
      sha256 "{{arm_binary.sha256}}"
    end
    on_intel do
      url "{{intel_binary.url}}"
      sha256 "{{intel_binary.sha256}}"
    end
  end

  def install
    downloaded_name = File.basename(stable.url)
    bin.install downloaded_name => "icp"
  end

  def post_install
    begin
      {{#each extensions}}
      # TODO(cline): pass expected checksum via `icp extension add --checksum {{sha256}}`
      system "#{bin}/icp", "extension", "add", "--name", "{{name}}", "{{url}}"
      {{/each}}
    rescue StandardError => e
      puts "Other error: #{e.message}"
    end
  end

  test do
    system "#{bin}/icp", "--version"
  end
end
