class IcpCli < Formula
  desc "Command-line interface for the Internet Computer platform"
  homepage "https://github.com/rikonor/icp-cli"
  version "{{version}}"

  if Hardware::CPU.intel?
    url "{{intel_binary.url}}"
    sha256 "{{intel_binary.sha256}}"
  else
    url "{{arm_binary.url}}"
    sha256 "{{arm_binary.sha256}}"
  end

  {{#each extensions}}
  resource "{{name}}" do
    url "{{url}}"
    sha256 "{{sha256}}"
  end
  {{/each}}

  def install
    bin.install "icp"

    {{#each extensions}}
    resource("{{name}}").stage do
      system bin/"icp", "extension", "add", "--name", "{{name}}", "{{name}}.component.wasm"
    end
    {{/each}}
  end

  test do
    system "#{bin}/icp", "--version"
  end
end
